body{
    margin:0px; padding:0px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    height: 75px;
    color: white;
    background: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div{
    border: 1px solid red;
  }
  
  .headerinner{
    width: 100%;
    height: 100%;
    margin: 0px 10vw;
    display: flex;
  }

  .headerleft{
    width: 20%;
    height: 100%;
  }
  .headercenter{
    width: 60%;
    height: 100%;
  }
  .headerright{
    width: 20%;
    height: 100%;
  }

  .firstmain{
    margin-top: 75px;
    width: 100%;
    height: 500px;

    background: rgb(151, 153, 153);


  }

  .firstmainInner{
    width: 80%;
    height: 100%;
    margin: 0px 10vw;

  }

  .secondmain{
    margin : 0px;
    margin-top: 75px;
    width: 100%;
    height: 565px;

    background: rgb(139, 226, 226);
  }

  .secondmainInner{
    width: 80%;
    height: 500px;
    margin: 0px 10vw;
    display: flex;
  }

  .secondleft{
    width: 100%;
    height: 80%;
    margin: 30px;
  }
  .secondright{
    width: 100%;
    height: 80%;
    margin: 30px;
  }

  .imginsert{
    margin: 30px;
    width: 500px;
    height: 300px;

  }

  .urlinsert{
    margin: 30px;
    width: 88%;
    height: 5%;
  }