body{
    margin:0px; padding:0px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    height: 12vh;
    color: white;
    background: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div{
    border: 2px dotted black;
  }
  
  .headerinner{
    width: 80vw;
    height: 100%;
    margin: 0px 10vw;
    display: flex;
    /* border: 1px solid blue; */
  }

  .headerleft{
    width: 16vw;
    height: 100%;
  }
  .headercenter{
    width: 48vw;
    height: 100%;
  }
  .headerright{
    width: 16vw;
    height: 100%;
  }

  .firstmain{
    margin-top: 12vh;
    width: 100%;
    height: 76vh;

    background: rgb(151, 153, 153);
  }

  .firstmainInner{
    width: 80vw;
    height: 100%;
    margin: 0px 10vw;
  }
.blank{
  width: 100%;
  height: 12vh;
}
  .secondmain{
    width: 100%;
    height: 76vh;

    background: rgb(172, 179, 179);
  }

  .secondmainInner{
    width: 80vw;
    height: 100%;
    margin: 0px 10vw;
    display: flex;
  }

  .secondleft{
    width: 100%;
    height: 72vh;
    margin: 2vh 2vw; 
  }
  .secondright{
    width: 100%;
    height: 72vh;
    margin: 2vh 2vw; 
  }

  .imginsert{
    margin: 2vh 2vw; 
    width: 30vw;
    height: 30vh;

  }

  .urlinsert{
    margin: 2vh 2vw; 
    width: 30vw;
    height: 5vh;
  }


  .thirdmain{
    width: 100%;
    height: 76vh;

  }

.thirdmainInner{
  width: 80vw;
  height: 100%;
  margin: 0px 10vw;
}

.upper{
  width: 100%;
  height: 20vh;
}

.lower{
  width: 100%;
  height: 56vh;
  display: flex;
}

.youtube{
  width: 33%;
  height: 56vh;
}

  footer{
    width: 100%;
    height: 12vh;
    /* margin: 0px 10vw; */
    background-color: rgb(151, 150, 150);
  }